* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 10px;
  background-image: url("space.png");
  background-repeat: repeat;
  /* border: solid red 2px; */
}

main {
    display: flex;
    flex-direction: row;
    /* border: solid blue 2px; */
    justify-content: space-between;
}

/* BUTTONS */

#left {
  height: 600px;
  /* border: solid lime 2px; */
  text-align: center;
}

.list-name {
  color: antiquewhite;
  margin: 60px;
}

.list-group {
  margin: 60px;
}


/* MIDDLE */

img {
  display: flex;
  margin: 20px auto;
  width: 500px;
  box-shadow: 2px 2px 4px lightgray;
}
p {
  margin-top: 30px;
  width: 620px;
  text-shadow: 2px 2px 7px lightgray;
  color: lightgrey;
  text-align: center;
}

/* WEATHER */
#right {
  text-align: center;
  height: 600px;
  /* border: solid lime 2px; */
  color: antiquewhite;
}


/* FOOTER */
footer {
  margin-top: 20px;
  text-align: center;
  color: antiquewhite;
}
