* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 10px;
  background-image: url("space.png");
  background-repeat: repeat;
  border: solid red 2px;
}

main {
  /* display: flex;
  flex-direction: row; */
  border: solid blue 2px;
  /* justify-content: space-between; */
}

#left {
  border: solid lime 2px;
  width: 300px;
  height: 600px;
}

.midde-section {
}

#right {
  /* display: flex;
  flex-direction: column; */
  text-align: center;
  width: 300px;
  height: 600px;
  border: solid lime 2px;
  box-sizing: border-box; 
}

img {
  display: flex;
  margin: 20px auto;
  width: 500px;
  box-shadow: 2px 2px 4px lightgray;
}
p {
  margin-top: 30px;
  width: 620px;
  text-shadow: 2px 2px 7px lightgray;
  color: lightgrey;
  text-align: center;
}

.list-name {
  color: antiquewhite;
  margin: 60px;
}
.list-group {
  margin: 60px;
}

footer {
  margin-top: 20px;
  text-align: center;
  color: antiquewhite;
}
